.App {
  text-align: center;
  height: 100%; 
  width: 100%; 
  margin:auto;     
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Header-Style{
  background-color: hsl(273, 32%, 33%);
  height: 60px;
  position: fixed;
  z-index: 1;
  width: 94%;

  margin: 1%;
  padding-left: 2%;
  padding-top: 2%;
  padding-right: 2%;
  font-family: sans-serif;
  font-size:x-large;
  font-weight: 900;
  opacity:0.99;
  border-radius: 25px;
  
}



.button {
  display: inline-block;
  padding: 0px 10px;
  font-family: sans-serif;
  font-size:medium;
  font-weight: 900;

  text-decoration: none;
  cursor: pointer;
  border-left: black;
  border-right: black;
  border-top: none;
  border-bottom: none;
  
  background-color: hsl(273, 32%, 33%);
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

/* Hover effect */
.button:hover {
  background-color: hsl(273, 66%, 66%);
  color: #ffffff;
  border-color: #ffffff;
  border-radius: 5px;
}


.Profile-Pic {
  border-radius: 50%;  /*curved corners */
  min-width:100px ;
  min-height: 100px;
  width: 40vmin; 
  height: 40vmin; 
  object-fit: cover; 
  object-position: top left;
  display: flex;   
  flex-wrap: wrap;
  align-items: flex;
  z-index: 100;
}
.Home-image{

  padding-left: 50%;
  
}


.Home-Text{
  font-family: sans-serif;
  font-size:x-large;
  font-weight: 900;
  color: white;
  padding-top: 25%;
  text-align: left;
  padding-left: 20%;
  
}




.wave {
  animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s;        /* Change to speed up or slow down */
  animation-iteration-count: infinite;  /* Never stop waving :) */
  transform-origin: 50% 50%;       /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
  100% { transform: rotate( 0.0deg) }
}

.typewriter-text {
  color: #0acdf0; /* Change 'blue' to the desired color */
  text-shadow: 2px 2px  blue;
}




.About-Text-header{
  font-family: sans-serif;
  font-size:xx-large;
  font-weight: 900;
  color: white;
  padding-top: 20%;
  text-align: left;
  padding-left: 20%;
  
}

.About-Text{
  font-family: sans-serif;
  font-size:medium;
  font-weight: 900;
  color: white;
  text-align: left;
  padding-top: 1%;
 
  max-width: 45%;
  word-wrap: break-word;
  
  
}

/* Aspect ratio = Width / Height
Aspect ratio = 1986 / 3520 ≈ 0.5642 */
.About-Pic {
  border-radius: 2%;
  border: 5px solid #555;
  width: 38vmin; 
  height: 60vmin; 
  object-fit: cover; 
  object-position: top left;
  display: flex;   
  flex-wrap: wrap;
  align-items: flex;
  
}
.About-image{

  padding-left: 60%;
  
}

.Skills-Text-header{
  font-family: sans-serif;
  font-size:xx-large;
  font-weight: 900;
  color: white;
  
  text-align: left;
  padding-left: 20%;
  
}

.Skills-Text{
  font-family: sans-serif;
  font-size:xx-large;
  font-weight: 900;
  color: white;
  
  text-align: left;
  padding-left: 20%;
  
}


.Skills-Grid{
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  width: 60%; /* Adjust the width value as needed */
  margin: 0 auto; /* Center the grid container if necessary */
  
 
}


.Skill{  
  background-color: #c4c4c4;
  color: #ffffff;
  border-radius: 5%;
  padding:10px;
  font-size: 15px;

  bottom: 0;
  transition: 0.3s;
  height: 60%;
  width: 81%;
}

.Skill:hover {
  background-color:#f2f2f2;
  color: black;
  border-color: #ffffff;
  border-radius: 5px;
  height: 65%;
}


.Tools-Grid{
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  width: 60%; /* Adjust the width value as needed */
  margin: 0 auto; /* Center the grid container if necessary */
}

.Tool{  
  background-color: #c4c4c4;
  color: #ffffff;
  border-radius: 5%;
  padding:10px;
  font-size: 15px;

  bottom: 0;
  transition: 0.3s;
  height: 60%;
  width: 81%;
}

.Tool:hover {
  background-color:#f2f2f2;
  color: black;
  border-color: #ffffff;
  border-radius: 5px;
  height: 65%;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
